@font-face {
  font-family: "iconfont"; /* Project id 2300908 */
  src: url('iconfont.woff2?t=1659266259180') format('woff2'),
       url('iconfont.woff?t=1659266259180') format('woff'),
       url('iconfont.ttf?t=1659266259180') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e625";
}

.icon-xiazai:before {
  content: "\e6eb";
}

.icon-chakan:before {
  content: "\e6ec";
}

.icon-shanchu1:before {
  content: "\e6ed";
}

.icon-shangchuan:before {
  content: "\e6ee";
}

.icon-bujianfanggaidangan1:before {
  content: "\e62a";
}

.icon-cunlianganjufangchaiqianbuchangbeian1:before {
  content: "\e62c";
}

.icon-cunlianganjufangqudequanbuchanquanbucha:before {
  content: "\e630";
}

.icon-cunlianganjufangqudequanbuchanquan1:before {
  content: "\e635";
}

.icon-zhufangquanlirenbiangeng:before {
  content: "\e63e";
}

.icon-dayinpifu:before {
  content: "\e634";
}

.icon-ziliaoweihu:before {
  content: "\e64a";
}

.icon-yewubanli:before {
  content: "\e64c";
}

.icon-jiaofeitongzhishuguanli:before {
  content: "\e651";
}

.icon-yewuchaxun1:before {
  content: "\e642";
}

.icon-chexiaoyewu:before {
  content: "\e72a";
}

.icon-jijiamobanguanli:before {
  content: "\e652";
}

.icon-shichangpinggujiachaxun:before {
  content: "\e653";
}

.icon-youfangwufangpaicha:before {
  content: "\e654";
}

.icon-wenjian:before {
  content: "\e600";
}

.icon-wenjianjia:before {
  content: "\e650";
}

