.selectContainer {
  width: auto;
  cursor: pointer;
}
.unSelected {
  position: relative;
  display: inline-block;
  font-size: 30px;
  color: gray;
}
.selected {
  position: relative;
  font-size: 30px;
  display: inline-block;
  font-size: 30px;
  color: #ff9933;
}
.halfSelected {
  position: relative;
  display: inline-block;
  font-size: 30px;
  color: gray;
}
.halfSelected:before {
  font-size: 30px;
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  content: attr(data-content);
  overflow: hidden;
  color: #ff9933;
}
